*{ padding: 0px; margin: 0px;}
body { background-color: azure;}
.banner{
    border: none;
    margin: 1px;
    padding: 150px;
    text-align: center;
    background: url(space.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.left
{
    border: none;
    float: left;
    display: inline-block;
    display: block;
    text-decoration: none;
    padding: 10px;
    position: relative;
}

.right{
    border: none;
    float: right;
    display: inline-block;
    display: block;
    text-decoration: none;
    padding: 10px;
    position: relative;
}
.center{
    border: none;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  text-align: center; /* Center text horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;

}
.box{
    border: none;
    margin: 5px;
    padding: 10 px;
}
.imagesame
{
    display: table;
    display: inline-block;
    position: relative;

}
